



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="container">
    <h1>New User</h1>
  
    <%= link_to 'Back', users_path, class: "btn btn-secondary mb-3" %>
  
    <%= form_with(model: @user, url: users_path) do |form| %>
      <%# Display validation errors, if any %>
      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  
      <!-- Form fields -->
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control form-control-sm", required: true %>
      </div>
  
      <div class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control form-control-sm", required: true %>
      </div>
  
      <div class="form-group">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control form-control-sm", required: true %>
      </div>
  
      <div class="form-group">
        <%= form.submit "Create User", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  